{% extends "base.html"%}
{% block title %} Delete User {% endblock %}
{% block content %}

<h1>This is the page to delete a user</h1>

<div class="row justify-content-md-center">
    <h3>are your sure your want to delete your account?</h3>
    <h4 class="text-danger">this can not be undone</h4>
    <form method="POST" id="delete_user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block">Delete Account</button>
</div>

{% endblock %}