{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

Testing the add a new user page

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h1>this is the signup page</h1>
        <h2 class="join-message">Wish to start trekking</h2>
        <p class="join-message">Sign up for an account</p>
        <!-- TODO make sure the form is going somewhere on summit -->
        <form method="POST"> 
            <!-- include the hidden tag -->
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
        </form>
        <p class="join-message">Already have an account? <a href="/login">Log in</a></p>
    </div>
</div>
<!-- display the signup form -->


<form method="POST" id="user_form">
    {{ form.hidden_tag() }}

    <!--TODO fix the button so that way it is in the center of the form -->
    <!-- </form> -->
    <!-- TODO Todo make sure that this link is for the correct page -->
    {% endblock %}